<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Controllers</title>
	<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body ng-controller="ProfileController">

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand"
			   href="/">Controllers
			</a>
		</div>
		,
	</div>
</nav>


<div class="container main-content">
	<table>
		<tr>
			<th>
				title
			</th>
			<th>
				content
			</th>
			<th>
				author
			</th>
			<th>
				postdate
			</th>
		</tr>
		<tr ng-repeat="item in items| filter:titleText">
			<td>
				{{item.title}}
			</td>
			<td>
				{{item.content }}
			</td>	
			<td>
				{{item.author }}
			</td>	
			<td>
				{{item.postdate }}
			</td>	
		</tr>
		<tr>
			<th>
				<input type="title" ng-model="titleText"/>
			</th>
			<th>
				<input type="content" ng-model="contentText"/>
			</th>
			<th>
				<input type="author" ng-model="authorText"/>
			</th>
			<th>
				<button class="btn"					
				    ng-click="addItem()">Insert
				</button>
			</th>
		</tr>		
	</table>
</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="main.js"></script>


</body>
</html>
