<!DOCTYPE html>
<html lang="en"
      ng-app="myApp">
<head>
	<title>Scope</title>
	<link href="../libs/bootstrap/css/bootstrap.min.css"
	      rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body>


<div class="container">

	<div class="row">
		<div class="col-md-6" ng-controller="ProfileListController">
      Profiles:
			<ul>
			  <li ng-repeat="profile in profiles">
          {{ profile.name }} has born at {{ profile.birthdate | date }}
          <a ng-click="edit(profile)" href="">edit</a>
        </li>
			</ul>
		</div>
    <div class="col-md-6" ng-controller="ProfileDetailController">
      <form ng-submit="update" >
        Name: <input type="text" ng-model="profileService.selectedProfile.name" ng-model-options="{ updateOn: 'submit' }">
        Birth Date: <input type="text" ng-model="profileService.selectedProfile.birthdate" ng-model-options="{ updateOn: 'submit' }">
        <input type="submit" value="Update" class="btn-primary">
      </form>
		</div>
	</div>
</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>
