<!DOCTYPE html>
<html lang="en"
      ng-app="myApp">
<head>
	<title>Scope</title>
	<link href="../libs/bootstrap/css/bootstrap.min.css"
	      rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>
<body>

<div class="container" ng-controller="PromiseController">
   <button ng-click="outofChicken()">out of chicken!</button>
   <button ng-click="changeOrder()">change order!</button>   
</div>

<div class="container" ng-controller="ModalController">
  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-body">
          Are you over 18+?
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
      </div>
  </script>

   <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>

</div>

<script src="../libs/angular/angular.min.js"></script>
<script src="../libs/angular/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="main.js"></script>
</body>
</html>
